{|include file="system/include/base_header" title="数据库设置"|}
			<span>数据库设置</span>
			</div>
			<div class="tabCon">
			<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">数据库类型：</label>
			<div class="formControls col-xs-8 col-sm-9">
			<input type="text"  class="input-text" value="mysql" id="" name="" disabled="disabled">
			</div>
			</div>
			<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">数据库服务器：</label>
			<div class="formControls col-xs-8 col-sm-9">
			<input type="text" id="dbhost" name="dbhost" value="" class="input-text">
			</div>
			</div>
			<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">数据库帐号：</label>
			<div class="formControls col-xs-8 col-sm-9">
			<input type="text" nam class="input-text" value="" id="dbuser" name="dbuser" >
			</div>
			</div>
			<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">数据库密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
			<input type="password" id="dbpassword" name="dbpassword" value="" class="input-text">
			</div>
			</div>
			<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">数据库端口号：</label>
			<div class="formControls col-xs-8 col-sm-9">
			<input type="text" id="" name="port" value="3306" class="input-text">
{|include file="system/include/base_bottom"|}
