{|include file="system/include/base_header" title="基本设置"|}
                    <span>基本设置</span>
                    <span>安全设置</span>
                </div>
                <div class="tabCon">
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-2">
                            <span class="c-red">*</span>
                            网站名称：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="text" id="website-title" name="title" placeholder="控制在25个字、50个字节以内" value="" class="input-text">
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-2">
                            <span class="c-red">*</span>
                            描述：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="text" id="website-description" name="description" placeholder="空制在80个汉字，160个字符以内" value="" class="input-text">
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-2">
                            <span class="c-red">*</span>
                            上传目录配置：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="text" id="website-uploadfile" name="uploadfile" placeholder="默认为uploadfile" value="" class="input-text">
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-2">
                            <span class="c-red">*</span>
                            底部版权信息：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="text" id="website-copyright" name="copyright" placeholder="&copy; 2016" value="" class="input-text">
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-2">备案号：</label>
                        <div class="formControls col-xs-8 col-sm-9">
                            <input type="text" id="website-icp" name="icp" placeholder="京ICP备00000000号" value="" class="input-text">
                        </div>
                    </div>
                </div>
                <div class="tabCon">
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-2">管理员账户：</label>
                        <div class="formControls col-xs-6 col-sm-7">
                            <input type="text" class="input-text" id="adminuser" name="adminuser" >
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-2">管理员密码：</label>
                        <div class="formControls col-xs-6 col-sm-7">
                            <input type="password" class="input-text"  id="adminpassword" name="adminpassword" >
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-2">管理员确认密码：</label>
                        <div class="formControls col-xs-6 col-sm-7">
                            <input type="password" class="input-text"  id="" name="adminpassword_confirm" >
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-2">用户登录失败最大次数：</label>
                        <div class="formControls col-xs-6 col-sm-7">
                            <input type="text" class="input-text" placeholder="不设置或小于等于0，为不检查" id="umax" name="umax" >
                        </div>
                    </div>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-2">后台登录失败最大次数：</label>
                        <div class="formControls col-xs-6 col-sm-7">
                            <input type="text" class="input-text" placeholder="不设置或小于等于0，为不检查" id="amax" name="amax" >
{|include file="system/include/base_bottom"|}