<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__ADMIN__/lib/html5shiv.js"></script>
    <script type="text/javascript" src="__ADMIN__/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="__ADMIN__/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__ADMIN__/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__ADMIN__/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__ADMIN__/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__ADMIN__/static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="__ADMIN__/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>友情链接管理</title>
</head>
<body >
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 友情链接管理 <span class="c-gray en">&gt;</span> 友情链接列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">

    <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a class="btn btn-primary radius" onclick="add('添加友情链接','__URL__/add')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加友情链接</a></span> <span class="r">共有数据：<strong>{[$sum]}</strong> 条</span> </div>

    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">
                <th width="40"><input name="" id="" type="checkbox" value=""></th>
                <th width="60">ID</th>
                <th>名称</th>
                <th>链接地址</th>
                <th width="60">排序</th>
                <th width="300">描述</th>
                <th width="60">发布状态</th>
                <th width="100">操作</th>
            </tr>
            </thead>
            <tbody>
            {|volist id="list" name="columnlist"|}
            <tr class="text-c">
                <td><input id={[$list.id]} type="checkbox" ></td>
                <td>{[$list.id]}</td>
                <td class="text-l">{[$list.name]}</td>
                <td>{[$list.url]}</td>
                <td class="text-c">{[$list.sort]}</td>
                <td>{[$list.description]}</td>
                <td class="td-status">
                    {|if condition="$list.status eq 1"|}
                    <span class="label label-success radius">已发布</span>
                    {|else/|}
                    <span class="label label-defaunt radius">已下架</span>
                    {|/if|}
                </td>
                <td class="td-manage">
                    {|if condition="$list.status eq 1"|}
                    <a style="text-decoration:none" onClick="stop(this,{[$list.id]})" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>
                    {|else/|}
                    <a style="text-decoration:none" onClick="start(this,{[$list.id]})" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>
                    {|/if|}
                    <a style="text-decoration:none" class="ml-5" onClick="add('友情链接编辑','__URL__/edit?id={[$list.id]}&sort={[$list.sort]}')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>
                    <a style="text-decoration:none" class="ml-5" onClick="del(this,{[$list.id]})" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a></td>

            </tr>
            {|/volist|}
            </tbody>
        </table>
    </div>
</div>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__ADMIN__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__ADMIN__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__ADMIN__/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__ADMIN__/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ADMIN__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__ADMIN__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__ADMIN__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    $('.table-sort').dataTable({
        "aaSorting": [[ 1, "desc" ]],//默认第几个排序
        "bStateSave": true,//状态保存
        "aoColumnDefs": [
            //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
        ]
    });

    /*友情链接-添加*/
    function add(title,url){
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }

    /*友情链接-查看*/
    function show(title,url,id){
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }


    /*友情链接-下架*/
    function stop(obj,id){
        layer.confirm('确认要下架吗？',function(index){
            $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="start(this,'+id+')" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
            $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
            $(obj).remove();
            $.ajax({
                dataType: "json",
                type:"post",
                url:"__URL__/status",
                data:{"id":id,"data":0},
                success:function (data) {
                    
                    if(data.status==200){
                        layer.msg('已下架!',{icon: 6,time:1000});
                    }else{
                        layer.msg(data.msg,{icon: 5,time:1000});
                    }

                },
                error:function (data) {
                    layer.msg('失败!',{icon: 5,time:1000});
                }

            });

        });
    }

    /*友情链接-发布*/
    function start(obj,id){
        layer.confirm('确认要发布吗？',function(index){

            $.ajax({
                dataType: "json",
                type:"post",
                url:"__URL__/status",
                data:{"id":id,"data":1},
                success:function (data) {
                    
                    if(data.status==200) {
                        layer.msg('已发布!', {icon: 6, time: 1000});
                        $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="stop(this,' + id + ')" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>');
                        $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
                        $(obj).remove();
                    }else{
                        layer.msg(data.msg,{icon:6,time:1000});
                    }
                },
                error:function (data) {
                    layer.msg('失败!',{icon: 5,time:1000});
                }

            });

        });
    }


    /*友情链接-删除*/
    function del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                type: 'post',
                url: '__URL__/delete',
                data:{"id":id},
                dataType: 'json',
                success: function(data){
                    
                    if(data.status==200) {
                        $(obj).parents("tr").remove();
                        layer.msg(data.msg, {icon: 1, time: 1000});
                    }else{
                        layer.msg(data.msg,{icon:5,time:1000});
                    }
                },
                error:function() {
                    layer.msg("失败");
                },
            });
        });
    }
    function datadel() {
        var id="";
        $.each($("input:checkbox:checked"),function () {
            if(this.id!="")
                id+=this.id+',';
        })
        if(id.length==0){
            layer.msg("请先选择对应记录");
            return ;
        }
        id=id.substring(0,id.length-1);
        $.ajax({
            type:"post",
            dataType:"json",
            url:"__URL__/delete",
            data:{"id":id},
            success:function (data) {
                
                if(data.status==200) {
                    layer.msg(data.msg, {icon: 6, time: 1000});
                    $.each($("input:checkbox:checked"), function () {
                        $(this).parents("tr").remove();
                    })
                }else{
                    layer.msg(data.msg,{icon:5,time:1000});
                }
            },
            error:function (data) {
                layer.msg("删除失败！",{icon:5,time:1000});
            }
        });
    }
</script>
</body>
</html>