<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>订单管理</title>

		<link href="__INDEX__/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
		<link href="__INDEX__/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

		<link href="__INDEX__/css/personal.css" rel="stylesheet" type="text/css">
		<link href="__INDEX__/css/orstyle.css" rel="stylesheet" type="text/css">

		<script src="__INDEX__/AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
		<script src="__INDEX__/AmazeUI-2.4.2/assets/js/amazeui.js"></script>
		<script type="text/javascript" src="__ADMIN__/lib/layer/2.4/layer.js"></script>
		<script type="text/javascript" src="__ADMIN__/static/comment.js"></script>
	</head>

	<body>
		<!--头 -->
		{|include file="include/top" column="[$column]"|}
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">

					<div class="user-order">

						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">订单管理</strong> / <small>Order</small></div>
						</div>
						<hr/>

						<div class="am-tabs am-tabs-d2 am-margin" data-am-tabs>

							<ul class="am-avg-sm-5 am-tabs-nav am-nav am-nav-tabs">
								<li class="am-active"><a href="#tab1">所有订单</a></li>
								<li><a href="#tab2">待付款</a></li>
								<li><a href="#tab3">待发货</a></li>
								<li><a href="#tab4">待收货</a></li>
								<li><a href="#tab5">待评价</a></li>
							</ul>

							<div class="am-tabs-bd">
								<div class="am-tab-panel am-fade am-in am-active" id="tab1">
									<div class="order-top">
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">单价</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">数量</td>
										</div>
										<div class="th th-operation">
											<td class="td-inner">商品操作</td>
										</div>
										<div class="th th-amount">
											<td class="td-inner">合计</td>
										</div>
										<div class="th th-status">
											<td class="td-inner">交易状态</td>
										</div>
										<div class="th th-change">
											<td class="td-inner">交易操作</td>
										</div>
									</div>

									<div class="order-main">
										<div class="order-list">

											<!--交易成功-->
											<div class="order-status5">
												{|volist id="arr" name="result"|}
												<div class="order-title">
													订单编号：<a href="javascript:;">{[$arr.order_sn]}</a>
													<span style="margin-left: 300px">成交时间 ：{[$arr.create_time]}</span>

												</div>
												<div class="order-content">
													{|if array_key_exists("items",$arr)|}
													<div class="order-left">
														{|foreach $arr.items as $k=>$v|}
														<ul class="item-list">
															<li class="td td-item">
																<div class="item-pic">
																	<a href="#" class="J_MakePoint">
																		<img src="{[$webuploader]}{[$v['images']]}" class="itempic J_ItemImg">
																	</a>
																</div>
																<div class="item-info">
																	<div class="item-basic-info">
																		<a href="#">
																			<p>{[$v["title"]]}</p>
																			<p class="info-little">
																				<br/>分类：{[$v["model"]]} </p>
																		</a>
																	</div>
																</div>
															</li>
															<li class="td td-price">
																<div class="item-price">
																	{[$v["price"]]}
																</div>
															</li>
															<li class="td td-number">
																<div class="item-number">
																	<span>×</span>{[$v["num"]]}
																</div>
															</li>
															<li class="td td-operation">
																<div class="item-operation">
																	{|switch name="$arr.status"|}

																	{|case value="1"|}<a href="__URL__/refund">退款</a>{|/case|}
																	{|case value="2|3"|}<a href="#">退款/退货</a>{|/case|}

																	{|/switch|}

																</div>
															</li>
														</ul>
														{|/foreach|}
													</div>
													<div class="order-right">
														<li class="td td-amount">
															<div class="item-amount">
																合计：{[$arr.money]}

															</div>
														</li>
														<div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	{|switch name="$arr.status"|}
																	{|case value="0"|}
																	<p class="Mystatus">等待买家付款</p>
																	<p class="order-info"><a href="javascript:cancel({[$arr.id]})" >取消订单</a></p>{|/case|}
																	{|case value="1"|}<p class="Mystatus">买家已付款</p>
																	<p class="order-info"><a href="__URL__/info?id={[$arr.id]}">订单详情</a></p><p class="order-info"><a href="__URL__/refund?id={[$arr.id]}">退货/退款</a></p>{|/case|}
																	{|case value="2"|}	<p class="Mystatus">卖家已发货</p>
																	<p class="order-info"><a href="__URL__/info?id={[$arr.id]}">订单详情</a></p>
																	<p class="order-info"><a href="javascript:void(0)" onmouseenter="logistics(this,'{[$arr.ec]}',{[$arr.logistics]})" onmouseleave="tips_close()" target="_blank">查看物流</a></p>
																	<p class="order-info"><a href="__URL__/refund?id={[$arr.id]}">退货/退款</a></p>
																	<p class="order-info"><a href="#">延长收货</a></p>{|/case|}
																	{|case value="3"|}	<p class="Mystatus">买家已收货</p>
																	<p class="order-info"><a href="__URL__/info?id={[$arr.id]}">订单详情</a></p><p class="order-info"><a href="__URL__/refund?id={[$arr.id]}">退货/退款</a></p>{|/case|}
																	{|case value="4|6"|}	<p class="Mystatus">申请退换中</p>{|/case|}
																	{|case value="8"|}<p class="Mystatus">订单已取消</p>{|/case|}
																	{|default /|}	<p class="Mystatus">交易成功</p>
																	{|/switch|}


																</div>
															</li>
															<li class="td td-change">

																		{|switch name="$arr.status"|}
																		{|case value="0"|}<a href="__URL__/pay?id={[$arr.id]}"><div class="am-btn am-btn-danger anniu">一键支付 {|/case|}
																		{|case value="1"|}<a href="javascript:layer.msg('提醒成功',{time:1000})"><div class="am-btn am-btn-danger anniu">提醒发货{|/case|}
																		{|case value="2"|}<a href="javascript:status({[$arr.id]},3)"><div class="am-btn am-btn-danger anniu">确认收货{|/case|}
																		{|case value="3"|}<a href="#"><div class="am-btn am-btn-danger anniu">去评价{|/case|}
																		{|case value="4|6"|}<a href="javascript:refund_cancel({[$arr.id]})"><div class="am-btn am-btn-danger anniu">取消退换{|/case|}
																		{|default /|}<a href="javascript:order_delete({[$arr.id]})"> <div class="am-btn am-btn-danger anniu">删除订单
																		{|/switch|}
																	</div>
																</a>
															</li>
														</div>
													</div>

													{|/if|}
												</div>
												{|/volist|}
											</div></div></div></div>

								<div class="am-tab-panel am-fade" id="tab2">
									<div class="order-top">
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">单价</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">数量</td>
										</div>
										<div class="th th-operation">
											<td class="td-inner">商品操作</td>
										</div>
										<div class="th th-amount">
											<td class="td-inner">合计</td>
										</div>
										<div class="th th-status">
											<td class="td-inner">交易状态</td>
										</div>
										<div class="th th-change">
											<td class="td-inner">交易操作</td>
										</div>
									</div>
									<div class="order-main">
										<div class="order-list">
											{|volist id="arr" name="result"|}
											{|eq name="arr.status" value="0"|}
											<div class="order-title">
												订单编号：<a href="javascript:;">{[$arr.order_sn]}</a>
												<span style="margin-left: 300px">成交时间 ：{[$arr.create_time]}</span>

											</div>
											<div class="order-content">
												{|if array_key_exists("items",$arr)|}
												<div class="order-left">
													{|foreach $arr.items as $k=>$v|}
													<ul class="item-list">
														<li class="td td-item">
															<div class="item-pic">
																<a href="#" class="J_MakePoint">
																	<img src="{[$webuploader]}{[$v['images']]}" class="itempic J_ItemImg">
																</a>
															</div>
															<div class="item-info">
																<div class="item-basic-info">
																	<a href="#">
																		<p>{[$v["title"]]}</p>
																		<p class="info-little">
																			<br/>分类：{[$v["model"]]} </p>
																	</a>
																</div>
															</div>
														</li>
														<li class="td td-price">
															<div class="item-price">
																{[$v["price"]]}
															</div>
														</li>
														<li class="td td-number">
															<div class="item-number">
																<span>×</span>{[$v["num"]]}
															</div>
														</li>
														<li class="td td-operation">
															<div class="item-operation">
																<a href="__URL__/refund">退款</a>
															</div>
														</li>
													</ul>
													{|/foreach|}
												</div>
												<div class="order-right">
													<li class="td td-amount">
														<div class="item-amount">
															合计：{[$arr.money]}

														</div>
													</li>
													<div class="move-right">
														<li class="td td-status">
															<div class="item-status">
																<p class="Mystatus">等待买家付款</p>
																<p class="order-info"><a href="javascript:status({[$arr.id]},8)">取消订单</a></p>
															</div>
														</li>
														<li class="td td-change">
															<a href="__URL__/pay?id={[$arr.id]}">
																<div class="am-btn am-btn-danger anniu">
																	一键支付
																</div>
															</a>
														</li>
													</div>
												</div>

												{|/if|}
											</div>
											{|/eq|}

											{|/volist|}
										</div></div></div>


								<div class="am-tab-panel am-fade" id="tab3">
									<div class="order-top">
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">单价</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">数量</td>
										</div>
										<div class="th th-operation">
											<td class="td-inner">商品操作</td>
										</div>
										<div class="th th-amount">
											<td class="td-inner">合计</td>
										</div>
										<div class="th th-status">
											<td class="td-inner">交易状态</td>
										</div>
										<div class="th th-change">
											<td class="td-inner">交易操作</td>
										</div>
									</div>
									<div class="order-main">
										<div class="order-list">
											{|volist id="arr" name="result"|}
											{|eq name="arr.status" value="1"|}
											<div class="order-title">
												订单编号：<a href="javascript:;">{[$arr.order_sn]}</a>
												<span style="margin-left: 300px">成交时间 ：{[$arr.create_time]}</span>

											</div>
											<div class="order-content">
												{|if array_key_exists("items",$arr)|}
												<div class="order-left">
													{|foreach $arr.items as $k=>$v|}
													<ul class="item-list">
														<li class="td td-item">
															<div class="item-pic">
																<a href="#" class="J_MakePoint">
																	<img src="{[$webuploader]}{[$v['images']]}" class="itempic J_ItemImg">
																</a>
															</div>
															<div class="item-info">
																<div class="item-basic-info">
																	<a href="#">
																		<p>{[$v["title"]]}</p>
																		<p class="info-little">
																			<br/>分类：{[$v["model"]]} </p>
																	</a>
																</div>
															</div>
														</li>
														<li class="td td-price">
															<div class="item-price">
																{[$v["price"]]}
															</div>
														</li>
														<li class="td td-number">
															<div class="item-number">
																<span>×</span>{[$v["num"]]}
															</div>
														</li>
														<li class="td td-operation">
															<div class="item-operation">
																<a href="__URL__/refund">退款/退货</a>
															</div>
														</li>
													</ul>
													{|/foreach|}
												</div>
												<div class="order-right">
													<li class="td td-amount">
														<div class="item-amount">
															合计：{[$arr.money]}

														</div>
													</li>
													<div class="move-right">
														<li class="td td-status">
															<div class="item-status">
																<p class="Mystatus">买家已付款</p>
																<p class="order-info"><a href="__URL__/info?id={[$arr.id]}">订单详情</a></p>
															</div>
														</li>
														<li class="td td-change">
															<a href="javascript:layer.msg('提醒成功',{time:1000})">
																<div class="am-btn am-btn-danger anniu">
																	提醒发货
																</div>
															</a>
														</li>
													</div>
												</div>

												{|/if|}
											</div>
											{|/eq|}

											{|/volist|}
										</div></div></div>

								<div class="am-tab-panel am-fade" id="tab4">
									<div class="order-top">
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">单价</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">数量</td>
										</div>
										<div class="th th-operation">
											<td class="td-inner">商品操作</td>
										</div>
										<div class="th th-amount">
											<td class="td-inner">合计</td>
										</div>
										<div class="th th-status">
											<td class="td-inner">交易状态</td>
										</div>
										<div class="th th-change">
											<td class="td-inner">交易操作</td>
										</div>
									</div>
									<div class="order-main">
										<div class="order-list">
											{|volist id="arr" name="result"|}
											{|eq name="arr.status" value="2"|}
											<div class="order-title">
												订单编号：<a href="javascript:;">{[$arr.order_sn]}</a>
												<span style="margin-left: 300px">成交时间 ：{[$arr.create_time]}</span>

											</div>
											<div class="order-content">
												{|if array_key_exists("items",$arr)|}
												<div class="order-left">
													{|foreach $arr.items as $k=>$v|}
													<ul class="item-list">
														<li class="td td-item">
															<div class="item-pic">
																<a href="#" class="J_MakePoint">
																	<img src="{[$webuploader]}{[$v['images']]}" class="itempic J_ItemImg">
																</a>
															</div>
															<div class="item-info">
																<div class="item-basic-info">
																	<a href="#">
																		<p>{[$v["title"]]}</p>
																		<p class="info-little">
																			<br/>分类：{[$v["model"]]} </p>
																	</a>
																</div>
															</div>
														</li>
														<li class="td td-price">
															<div class="item-price">
																{[$v["price"]]}
															</div>
														</li>
														<li class="td td-number">
															<div class="item-number">
																<span>×</span>{[$v["num"]]}
															</div>
														</li>
														<li class="td td-operation">
															<div class="item-operation">
																<a href="__URL__/refund">退款/退货</a>
															</div>
														</li>
													</ul>
													{|/foreach|}
												</div>
												<div class="order-right">
													<li class="td td-amount">
														<div class="item-amount">
															合计：{[$arr.money]}

														</div>
													</li>
													<div class="move-right">
														<li class="td td-status">
															<div class="item-status">
																<p class="Mystatus">卖家已发货</p>
																<p class="order-info"><a href="__URL__/info?id={[$arr.id]}">订单详情</a></p>
																<p class="order-info"><a href="javascript:void(0)" onmouseenter="logistics(this,'{[$arr.ec]}',{[$arr.logistics]})" onmouseleave="tips_close()" target="_blank">查看物流</a></p>
															</div>
														</li>
														<li class="td td-change">
															<a href="javascript:status({[$arr.id]},3)">
																<div class="am-btn am-btn-danger anniu">
																	确认收货
																</div>
															</a>
														</li>
													</div>
												</div>

												{|/if|}
											</div>
											{|/eq|}

											{|/volist|}
										</div></div></div>


								<div class="am-tab-panel am-fade" id="tab5">
									<div class="order-top">
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">单价</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">数量</td>
										</div>
										<div class="th th-operation">
											<td class="td-inner">商品操作</td>
										</div>
										<div class="th th-amount">
											<td class="td-inner">合计</td>
										</div>
										<div class="th th-status">
											<td class="td-inner">交易状态</td>
										</div>
										<div class="th th-change">
											<td class="td-inner">交易操作</td>
										</div>
									</div>
									<div class="order-main">
										<div class="order-list">
											{|volist id="arr" name="result"|}
											{|eq name="arr.status" value="3"|}
											<div class="order-title">
												订单编号：<a href="javascript:;">{[$arr.order_sn]}</a>
												<span style="margin-left: 300px">成交时间 ：{[$arr.create_time]}</span>

											</div>
											<div class="order-content">
												{|if array_key_exists("items",$arr)|}
												<div class="order-left">
													{|foreach $arr.items as $k=>$v|}
													<ul class="item-list">
														<li class="td td-item">
															<div class="item-pic">
																<a href="#" class="J_MakePoint">
																	<img src="{[$webuploader]}{[$v['images']]}" class="itempic J_ItemImg">
																</a>
															</div>
															<div class="item-info">
																<div class="item-basic-info">
																	<a href="#">
																		<p>{[$v["title"]]}</p>
																		<p class="info-little">
																			<br/>分类：{[$v["model"]]} </p>
																	</a>
																</div>
															</div>
														</li>
														<li class="td td-price">
															<div class="item-price">
																{[$v["price"]]}
															</div>
														</li>
														<li class="td td-number">
															<div class="item-number">
																<span>×</span>{[$v["num"]]}
															</div>
														</li>
														<li class="td td-operation">
															<div class="item-operation">
																<a href="__URL__/refund">退款/退货</a>
															</div>
														</li>
													</ul>
													{|/foreach|}
												</div>
												<div class="order-right">
													<li class="td td-amount">
														<div class="item-amount">
															合计：{[$arr.money]}

														</div>
													</li>
													<div class="move-right">
														<li class="td td-status">
															<div class="item-status">
																<p class="Mystatus">交易成功</p>
																<p class="order-info"><a href="__URL__/info?id={[$arr.id]}">订单详情</a></p>
																<p class="order-info"><a href="javascript:void(0)" onmouseenter="logistics(this,'{[$arr.ec]}',{[$arr.logistics]})" onmouseleave="tips_close()" target="_blank">查看物流</a></p>
															</div>
														</li>
														<li class="td td-change">
															<a href="#">
																<div class="am-btn am-btn-danger anniu">
																	去评价
																</div>
															</a>
														</li>
													</div>
												</div>

												{|/if|}
											</div>
											{|/eq|}
											{|/volist|}
										</div></div></div>
							</div>

						</div>
					</div>
				</div>
				<!--底部-->
				{|include file="include/footer" links="[$links]" copyright="$copyright" icp="$icp"|}
			</div>
			{|include file="include/left"|}
		</div>

	</body>
<script type="text/javascript">
	var log;
	function status(id,status) {
		$.ajax({
			type:"post",
			dataType: "json",
			url:"__URL__/status",
			data:{"id":id,"status":status},
			success:function (data) {
				layer.msg(data.msg,{time:1000});
				if(data.status==200){
						setTimeout(function () {
							location.reload();
						},1000);
				}
			},
			error:function () {
				layer.msg("操作失败",{time:1000});
			}
		});
	}
	function logistics(that,com,nu) {

		$.ajax({
			type:"get",
			dataType:"json",
			url:"http://api.kuaidi.com/openapi.html",
			data:{"id":"cdaf30c300181cce262ff751a6dd60a5","com":com,"nu":nu},
			success:function (data) {
				if(data.success==true){
					let n=data.data.length>3?3:data.data.length;
					let str="";
					for(let i=0;i<n;i++){

						str+=data.data[i]["context"]+'<br/>'+data.data[i]["time"]+'<br/><br/>';
					}
					log=layer.tips('<font color="black">'+str+'</font>',that,{tips:[4,'#f0f0f0'],time:0});

				}else{

				}
			},
			error:function () {
				
			}
		});
	}
	function tips_close() {
		layer.close(log);
	}

	function cancel(id) {
			$.ajax({
				type:"post",
				dataType:"json",
				url:"__URL__/cancel",
				data:{"id":id},
				success:function (data) {
					layer.msg(data.msg,{time:1000});
					if(data.status==200){
						setTimeout(function () {
							location.reload();
						},1000);
					}
				},
				error:function () {
					layer.msg("取消失败",{time:1000});
				}
			})
	}
	function order_delete(id) {
		$.ajax({
			type:"post",
			dataType: "json",
			url:"__URL__/delete",
			data:{"id":id},
			success:function (data) {
				layer.msg(data.msg,{time:1000});
				if(data.status==200){
					setTimeout(function () {
						location.reload();
					},1000);
				}
			},
			error:function () {
				layer.msg("删除失败",{time:1000});
			}
		});
	}
</script>
</html>