<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="/favicon.ico" >
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__ADMIN__/lib/html5shiv.js"></script>
    <script type="text/javascript" src="__ADMIN__/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="__ADMIN__/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__ADMIN__/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__ADMIN__/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__ADMIN__/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__ADMIN__/static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="__ADMIN__/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <!--/meta 作为公共模版分离出去-->

    <title>修改文章 - 资讯管理</title>
    <meta name="keywords" content="H-ui.admin v3.1,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
    <meta name="description" content="H-ui.admin v3.1，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<article class="page-container">
    <form class="form form-horizontal" id="form-article-add" enctype="multipart/form-data" action="" method="post">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>文章标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value={[$result.title]} placeholder="" id="articletitle" name="title">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">简略标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value={[$result.abbreviated]} placeholder="" id="articletitle2" name="abbreviated">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>文章类型：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="type" class="select">
					{|volist id="class" name="class"|}
                    {|if condition="$result.type eq $class.id"|}
					<option value={[$class.id]} selected>{[$class.name]}</option>
					{|else/|}
                    <option value={[$class.id]}>{[$class.name]}</option>
                    {|/if|}
                    {|/volist|}
				</select>
				</span> </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分类栏目：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="column" class="select">
						<option id="opt1" value="1">顶部导航栏目</option>
					<option id="opt2" value="2">顶部导航子栏目</option>
					<option id="opt3" value="3">简版导航栏目</option>
					<option id="opt4" value="4">左侧栏目</option>
					<option id="opt5" value="5">盒子左侧栏目</option>
					<option id="opt6" value="6">盒子中部栏目</option>
					<option id="opt7" value="7">盒子右侧栏目</option>
					<option id="opt8" value="8">盒子底部栏目</option>
				</select>
				</span> </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">排序值：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value={[$result.sort]} placeholder="" id="articlesort" name="sort">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">关键词：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value={[$result.keywords]} placeholder="" id="keywords" name="keywords">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">文章摘要：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="summary" cols="" rows="" class="textarea"  placeholder="说点什么...最多200个字符" >{[$result.summary]}</textarea>

            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">文章作者：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value={[$Think.session.username]} placeholder="" id="author" name="author"  readonly>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">文章来源：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value={[$result.sources]} placeholder="" id="sources" name="sources">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">启用：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="check-box">
                    {|if condition="$result.status eq 1"|}
                    <input type="checkbox" id="" name="status" value="1" checked>
                    {|else/|}
                    <input type="checkbox" id="" name="status" value="1">
                    {|/if|}
                    <label for="checkbox-pinglun">&nbsp;</label>
                </div>
            </div>
        </div>
        <!--<div class="row cl">-->
        <!--<label class="form-label col-xs-4 col-sm-2">评论开始日期：</label>-->
        <!--<div class="formControls col-xs-8 col-sm-9">-->
        <!--<input type="text" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'commentdatemax\')||\'%y-%M-%d\'}' })" id="commentdatemin" name="commentdatemin" class="input-text Wdate">-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="row cl">-->
        <!--<label class="form-label col-xs-4 col-sm-2">评论结束日期：</label>-->
        <!--<div class="formControls col-xs-8 col-sm-9">-->
        <!--<input type="text" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'commentdatemin\')}' })" id="commentdatemax" name="commentdatemax" class="input-text Wdate">-->
        <!--</div>-->
        <!--</div>-->

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">文章内容：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <script id="editor" type="text/plain" style="width:100%;height:400px;">{[$result.editorValue]}</script>
            </div>
        </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交</button>

            <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                    </div>
                </div>
                </form>
                </article>
                <!--_footer 作为公共模版分离出去-->
                <script type="text/javascript" src="__ADMIN__/lib/jquery/1.9.1/jquery.min.js"></script>
                <script type="text/javascript" src="__ADMIN__/lib/layer/2.4/layer.js"></script>
                <script type="text/javascript" src="__ADMIN__/static/h-ui/js/H-ui.min.js"></script>
                <script type="text/javascript" src="__ADMIN__/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer /作为公共模版分离出去-->

                <!--请在下方写此页面业务相关的脚本-->
                <script type="text/javascript" src="__ADMIN__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
                <script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
                <script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
                <script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
                <script type="text/javascript" src="__ADMIN__/lib/webuploader/0.1.5/webuploader.min.js"></script>
                <script type="text/javascript" src="__ADMIN__/lib/ueditor/1.4.3/ueditor.config.js"></script>
                <script type="text/javascript" src="__ADMIN__/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
                <script type="text/javascript" src="__ADMIN__/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
                <script type="text/javascript">
                    $(function(){
                        $("#opt{[$result.column]}").prop("selected",true);
                        $('.skin-minimal input').iCheck({
                            checkboxClass: 'icheckbox-blue',
                            radioClass: 'iradio-blue',
                            increaseArea: '20%'
                        });

                        //表单验证
                        $("#form-article-add").validate({
                            rules:{
                                articletitle:{
                                    required:true,
                                },
                                articletitle2:{
                                    required:true,
                                },
                                articlecolumn:{
                                    required:true,
                                },
                                articletype:{
                                    required:true,
                                },
                                articlesort:{
                                    required:true,
                                },
                                keywords:{
                                    required:true,
                                },
                                abstract:{
                                    required:true,
                                },
                                author:{
                                    required:true,
                                },
                                sources:{
                                    required:true,
                                },
                                // allowcomments:{
                                // 	required:true,
                                // },
                                // commentdatemin:{
                                // 	required:true,
                                // },
                                // commentdatemax:{
                                // 	required:true,
                                // },

                            },
                            onkeyup:false,
                            focusCleanup:true,
                            success:"valid",

                        });

                        $list = $("#fileList"),
                            $btn = $("#btn-star"),
                            state = "pending",
                            uploader;

                        var uploader = WebUploader.create({
                            auto: true,
                            swf: '__ADMIN__/lib/webuploader/0.1.5/Uploader.swf',

                            // 文件接收服务端。
                            server: 'fileupload.php',

                            // 选择文件的按钮。可选。
                            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
                            pick: '#filePicker',

                            // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
                            resize: false,
                            // 只允许选择图片文件。
                            accept: {
                                title: 'Images',
                                extensions: 'gif,jpg,jpeg,bmp,png',
                                mimeTypes: 'image/*'
                            }
                        });
                        uploader.on( 'fileQueued', function( file ) {
                            var $li = $(
                                '<div id="' + file.id + '" class="item">' +
                                '<div class="pic-box"><img></div>'+
                                '<div class="info">' + file.name + '</div>' +
                                '<p class="state">等待上传...</p>'+
                                '</div>'
                                ),
                                $img = $li.find('img');
                            $list.append( $li );

                            // 创建缩略图
                            // 如果为非图片文件，可以不用调用此方法。
                            // thumbnailWidth x thumbnailHeight 为 100 x 100
                            uploader.makeThumb( file, function( error, src ) {
                                if ( error ) {
                                    $img.replaceWith('<span>不能预览</span>');
                                    return;
                                }

                                $img.attr( 'src', src );
                            }, thumbnailWidth, thumbnailHeight );
                        });
                        uploader.on( 'uploadProgress', function( file, percentage ) {
                            var $li = $( '#'+file.id ),
                                $percent = $li.find('.progress-box .sr-only');

                            // 避免重复创建
                            if ( !$percent.length ) {
                                $percent = $('<div class="progress-box"><span class="progress-bar radius"><span class="sr-only" style="width:0%"></span></span></div>').appendTo( $li ).find('.sr-only');
                            }
                            $li.find(".state").text("上传中");
                            $percent.css( 'width', percentage * 100 + '%' );
                        });



                        var ue = UE.getEditor('editor');

                    });
                </script>
                <!--/请在上方写此页面业务相关的脚本-->
</body>
</html>