<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__ADMIN__/lib/html5shiv.js"></script>
    <script type="text/javascript" src="__ADMIN__/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="__ADMIN__/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__ADMIN__/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__ADMIN__/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__ADMIN__/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__ADMIN__/static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="__ADMIN__/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>未发货订单</title>
</head>
<body >
<div id="number">
    <input type="hidden" id="oid" value="{[$Think.get.id]}">
    <h5>快递公司名称</h5>
    {|volist id="arr" name="express_company"|}
    <input type="radio" name="ec" value="{[$arr.com]}">
    {[$arr.name]}
    {|/volist|}
    <input type="text" id="logistics" placeholder="请输入快递单号" class="input-text radius size-M" style="margin-top: 20px;">
    <div style="margin-top: 15px">
        &nbsp; &nbsp; &nbsp; &nbsp;
        <button class="btn btn-primary 	size-S radius" onclick="add_number()">确定</button>
        <button class="btn btn-primary-outline size-S radius" style="margin-left:150px; " onclick="javascript:parent.location.reload()">取消</button>
    </div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__ADMIN__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__ADMIN__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__ADMIN__/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__ADMIN__/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ADMIN__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__ADMIN__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__ADMIN__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    function add_number() {
      let ec=$('input:radio[name="ec_id"]:checked').val();
      if(ec==null){
            layer.msg("请先选择快递公司",{time:1000});
        }else {
          $.ajax({
              type: "post",
              dataType: "json",
              url: "",
              data: {"id": $("#oid").val(), "logistics": $("#logistics").val(),"ec":ec},
              success: function (data) {
                  layer.msg(data.msg, {time: 1000});
                  if (data.status == 200) {
                      setTimeout(function () {
                          window.parent.location.reload();
                      }, 1000);
                  }

              },
              error: function () {
                  layer.msg("添加失败", {time: 1000});
              }
          })
      }
    }
</script>
</body>
</html>