<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__ADMIN__/lib/html5shiv.js"></script>
    <script type="text/javascript" src="__ADMIN__/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="__ADMIN__/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__ADMIN__/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__ADMIN__/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__ADMIN__/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__ADMIN__/static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="__ADMIN__/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>未确认订单</title>
</head>
<body >
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 订单管理 <span class="c-gray en">&gt;</span> 订单管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">

    <div class="cl pd-5 bg-1 bk-gray mt-20">  <span class="r">共有数据：<strong></strong> {[$sum]}条</span> </div>

    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">
                <th width="40"><input name="" id="" type="checkbox" value=""></th>
                <th width="60">ID</th>
                <th>订单编号</th>
                <th>物品明细</th>
                <th width="60">金额</th>
                <th width="150">更新时间</th>
                <th width="60">消费者</th>
                <th width="100">评价</th>
            </tr>
            </thead>
            <tbody>
            {|volist id="arr" name="result"|}
            <tr class="text-c">
                <td><input id={[$arr.id]} type="checkbox" ></td>
                <td>{[$arr.id]}</td>
                <td class="text-l">{[$arr.order_sn]}</td>
                <td>
                    {|if array_key_exists("items",$arr)|}
                    {|foreach $arr.items as $key=>$val|}
                    {[$val.title]}({[$val.model]})*{[$val.num]}
                    {|/foreach|}
                    {|/if|}

                </td>
                <td class="text-c">{[$arr.money]}</td>
                <td>{[$arr.update_time]}</td>
                <td class="td-status">
                    {[$arr.customer]}
                </td>
                <td class="td-manage">


                    <a style="text-decoration:none;"href="#" target="_blank" title=""><i class="Hui-iconfont" style="color: #ffcb3e">&#xe6ff;</i></a>
                    <a style="text-decoration:none;"href="#" target="_blank" title=""><i class="Hui-iconfont" style="color: #ffcb3e">&#xe6ff;</i></a>
                    <a style="text-decoration:none;"href="#" target="_blank" title=""><i class="Hui-iconfont" style="color: #ffcb3e">&#xe6ff;</i></a>

                </td>


            </tr>
            {|/volist|}
            </tbody>
        </table>
    </div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__ADMIN__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__ADMIN__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__ADMIN__/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__ADMIN__/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ADMIN__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__ADMIN__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__ADMIN__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    $('.table-sort').dataTable({
        "aaSorting": [[ 1, "desc" ]],//默认第几个排序
        "bStateSave": true,//状态保存
        "aoColumnDefs": [
            //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
        ]
    });






</script>
</body>
</html>