<aside class="menu">
    <ul>
        <li class="person">
            <a href="__MODULE__/home">个人中心</a>
        </li>
        <li class="person">
            <a href="#">个人资料</a>
            <ul>
                <li> <a href="__MODULE__/home/information">个人信息</a></li>
                <li> <a href="__MODULE__/pay">安全设置</a></li>
                <li > <a href="__MODULE__/address">收货地址</a></li>
            </ul>
        </li>
        <li class="person">
            <a href="__MODULE__/order">我的交易</a>
            <ul>
                <li><a href="__MODULE__/order">订单管理</a></li>
                <li> <a href="__MODULE__/order/change">退款售后</a></li>
            </ul>
        </li>
        <li class="person">
            <a href="#">我的资产</a>
            <ul>

                <li> <a href="#">账单明细</a></li>
            </ul>
        </li>

        <li class="person">
            <a href="#">我的小窝</a>
            <ul>
                <li> <a href="#">收藏</a></li>
                <li> <a href="#">足迹</a></li>
                <li> <a href="#">评价</a></li>
                <li> <a href="#">消息</a></li>
            </ul>
        </li>

    </ul>

</aside>